{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description": "SR-IOV HOT template that just defines a single compute instance",

  "Parameters" : {
    "KeyName" : {
      "Type": "String",
      "Description": "Name of an existing key pair to use for the instance",
      "Default": "heat_key"
    },
    "InstanceType": {
      "Type": "String",
      "Description": "Instance type for the instance to be created",
      "Default": "m1.small"
    },
    "ImageId" : {
      "Description": "ID of the image to use for the instance",
      "Type": "String",
      "Default": "ubuntu_precise"
    },
    "my_net" : {
      "Type": "String",
      "Description": "the net",
      "Default" : "private"
    }
  },
  "Resources" : {
    "my_port" : {
      "Type": "OS::Neutron::Port",
      "Properties" : {
        "network": { "Ref": "my_net" },
        "binding:vnic_type": "direct",
        "replacement_policy": "AUTO"
      }
    }
  },
  "Outputs" : {
    "instance_ip": {
      "Description": "The IP address of the deployed instance",
      "Value": {
        "get_attr": [
          "my_port", 
          "status"
        ]
      }
    }
  }
}

